.resourceCard {
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px #00000020;
    color: #3e3e3e;

    &__date {
        font-size: 12px;
        font-weight: bold;
        color: gray;
        line-height: 1.6;
    }

    &__title {
        font-size: 18px;
    }

    &__description {
        font-size: 14px;
    }
}

.resourceGroup {
    border: 2px solid lightgray;
    border-radius: 8px;
    width: 256px;
    min-width: 256px;
    padding: 16px 0px;
    height: fit-content;

    &__title {
        color: gray;
        font-size: 16px;
        margin: 0 16px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 100%;
        padding: 16px 16px 16px;
    }
}

.resourcesGrid {
    display: flex;
    padding: 16px;
    gap: 8px;
}